.App-header {
  background-color: #ece7d9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 4em;
  padding-left: 1em;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App {
  text-align: center;
}

.tool-bar {
  background-color: #135060;
}

.card {
  background-color: #5491a1;
  border-radius: 5px;
  width: 13em;
  margin-bottom: 1em;
}

.card-content {
  display: flex;
  justify-content: space-around;
}
.card-md {
  height: 90px;
  width: 90px;
}
.card-desc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.status {
  font-size: medium;
  padding: 22px;
  text-transform: capitalize;
}

.card-footer {
  display: flex;
  justify-content: center;
}
.status-icon {
  width: 35px !important;
  height: 35px !important;
}

.dashboard-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.dashboard-desc {
  color: #696868;
  font-size: medium;
  font-family: sans-serif;
  margin: 2em;
}
.css-o69gx8-MuiCardMedia-root {
  width: 90px !important;
}
.css-1qvr50w-MuiTypography-root {
  text-transform: capitalize !important;
}
.css-konndc-MuiListItemText-root {
  max-width: 15em !important;
}

.details-container {
  color: #22444d;
}
.log-title {
  display: flex;
  font-family: -webkit-pictograph;
}

.capitalize {
  text-transform: capitalize;
}
.running {
  background-color: #2661CA;
}
.repaired{
  background-color:  #EB8921
}
.errored {
  background-color: #952408;
}
.finished {
  background-color: #0c890f;
}
.event-list {
  color: #e3d8cd;
  padding: 0 5em 0 1em !important;
}
.linear-load{
  height: 8px !important;
}

.event-item {
  display: flex !important;
  justify-content: space-between !important;
  margin-bottom: 9px;
}
.desc-card {
  display: flex;
  justify-content: space-around;
}
.card-overview {
  font-size: large;
  font-family: revert;
  margin: 1em 9em 0 9em;
}
.title {
  display: flex;
  color: #4b4a4a;
  font-size: 23px;
  font-weight: 600;
}
